@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
}

@layer base {
  * {
    background-color: rgb(240, 240, 240);
  }
}

@layer components {
  .btn {
    @apply bg-[#ba73c0] p-2 rounded-md hover:bg-[#b42ac0] transition-all;
  }
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
